.board {
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
  box-sizing: border-box;
  background-color: rgb(2,121,191);
}

@media (max-width: 768px) {
  .board {
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 10px;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    
  }
}